<!DOCTYPE html>
<html>
    <body>
        <h1>Contact</h1>
        <table class="table table-striped">
            <tr>
                <th><b>Title</b></th>
                <th><b>First Name</b></th> 
                <th><b>Last Name</b></th> 
            </tr>
            <tr>
                <td><%= contact.Title %></td>
                <td><%= contact.FirstName %></td>
                <td><%= contact.LastName %></td> 
            </tr>
        </table>
    </body>
</html>